<h1>New Power</h1>

<%= form_for @power do |f| %>

  <%= f.label :name  %>
  <%= f.text_field :name %>
<br>
  <%= f.label :reason %>
  <%= f.text_field :reason %>
<br>  
  <%= f.label :rating %>
  <%= f.number_field :rating, max: 5 %>
<br>
  <%= f.label :already_exists %>
  <%= f.check_box :already_exists %>
<br>
  <%= f.submit %>
<% end %>